<configuration>
    <config>
        <add key="globalPackagesFolder" value="pkg/cache" />
    </config>
    <fallbackPackageFolders>
        <clear />
    </fallbackPackageFolders>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="cathode" value="pkg/feed" />
    </packageSources>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
