<!-- TODO: Move to .editorconfig when OmniSharp has proper support. -->
<RuleSet Name="Kakuriyo" ToolsVersion="16.0">
    <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
        <Rule Id="CA1031" Action="None" />
        <Rule Id="CA1034" Action="None" />
        <Rule Id="CA1303" Action="None" />
        <Rule Id="CA1308" Action="None" />
        <Rule Id="CA1812" Action="None" />
        <Rule Id="CA1815" Action="None" />
        <Rule Id="CA2208" Action="None" />
    </Rules>
</RuleSet>
