# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Build
on:
    push:
    pull_request:
    workflow_dispatch:
defaults:
    run:
        shell: bash
env:
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    DOTNET_GENERATE_ASPNET_CERTIFICATE: false
    DOTNET_NOLOGO: true
jobs:
    build:
        strategy:
            fail-fast: false
            matrix:
                os:
                    - macos-12
                    - ubuntu-22.04
                    - windows-2022
                cfg:
                    - Debug
                    - Release
        runs-on: ${{ matrix.os }}
        steps:
            - name: Clone repository
              uses: actions/checkout@v3.0.2
              with:
                  fetch-depth: 0
                  submodules: recursive
            - name: Set up .NET
              uses: actions/setup-dotnet@v3.0.1
            - name: Build project
              run: |
                  dotnet tool restore
                  dotnet publish -c ${{ matrix.cfg }}
            - name: Run samples
              run: |
                  dotnet example --all \
                      --skip cancellation \
                      --skip control \
                      --skip cursor \
                      --skip raw \
                      --skip scrolling \
                      --skip signals \
                      --skip width
