# Reference: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions

name: CI
on:
    push:
    pull_request:
        types:
            - edited
            - opened
            - reopened
            - synchronize
defaults:
    run:
        shell: bash
env:
    ACTIONS_ALLOW_UNSECURE_COMMANDS: true
    DOTNET_CLI_TELEMETRY_OPTOUT: true
    DOTNET_NOLOGO: true
jobs:
    ci:
        strategy:
            matrix:
                os:
                    - macos-latest
                    - ubuntu-latest
                    - windows-latest
                cfg:
                    - Debug
                    - Release
        runs-on: ${{ matrix.os }}
        steps:
            - uses: xt0rted/markdownlint-problem-matcher@v1.0.0
            - name: Clone repository
              uses: actions/checkout@v2.3.4
              with:
                  fetch-depth: 0
            - name: Set up Node.js
              uses: actions/setup-node@v1.4.3
            - name: Extract .NET version
              id: dotnet
              run: |
                  echo ::set-output name=version::$(tail -n +2 global.json | jq .sdk.version -r)
            - name: Set up .NET
              uses: actions/setup-dotnet@v1.7.2
              with:
                  dotnet-version: ${{ steps.dotnet.outputs.version }}
            - name: Install dependencies
              run: |
                  npm install markdownlint-cli@0.23.2 -g
                  dotnet tool restore
                  dotnet restore
            - name: Lint Markdown files
              run: |
                  markdownlint *.md
            - name: Build project
              run: |
                  dotnet build -c ${{ matrix.cfg }} --no-restore
            - name: Pack project
              run: |
                  dotnet pack -c ${{ matrix.cfg }} --no-build
            - name: Upload GitHub packages
              if: github.event_name == 'push' && github.repository == 'alexrp/system-terminal' && github.ref == 'refs/heads/master' && matrix.os == 'windows-latest' && matrix.cfg == 'Release'
              run: |
                  DOTNET_ROLL_FORWARD=LatestMajor dotnet gpr push src/*/bin/Release/*.nupkg -k ${{ secrets.GITHUB_TOKEN }}
